:root{
  font-size: 15px;

  
/* Primary colors */

--soft-orange: hsl(35, 77%, 62%);
--soft-red: hsl(5, 85%, 63%);

/* Neutral colors */

--off-white: hsl(36, 100%, 99%);
--grayish-blue: hsl(233, 8%, 79%);
--dark-grayish-blue: hsl(236, 13%, 42%);
--very-dark-blue: hsl(240, 100%, 5%);

/* borders */

--border-blue: 2px solid blue;
--border-red: 2px solid red;
--border-orange: 2px solid orange;
--border-green: 2px solid green;

}

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* mobile/tablet first design */
/* ------------------------------- */

/* Utility classes */

body{
  font-family: 'Inter', sans-serif;
  color: var(--very-dark-blue);
}


header{
  margin-bottom: 1.25rem;
}


.app-container{
  padding: 2rem;
  background-color: var(--off-white);
  /* border: var(--border-green); */
}


.menuIcon{
  float: right;
  cursor: pointer;
}

.pressed{
  rotate: 90deg;
  transition: rotate 0.9s;
}

.grid-item{
  margin-bottom: 1.25rem;
}

.web3-img{
  width: 100%;
  height: 100%;
  /* object-fit: contain; */
}

.headline{
  font-size: 3.0rem;
  margin: 2rem 0;
}

.read-more{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.read-more p {
  line-height: 1.4;
  /* margin-bottom: 1.8rem ; */
  /* font-size: 1.0rem; */
  color: var(--dark-grayish-blue);
}

.read-more a{
  display: inline-block;
  width: 150px;
  background-color: var(--soft-red);
  color: white;
  padding: 1rem 1.25rem;
  cursor: pointer;
  text-decoration: none;
  letter-spacing: 2px;
  transition: background-color 0.5s ease-in-out;
}

.read-more a:hover{
  background-color: var(--very-dark-blue);
}



/* newTech component */
/* --------------------------- */

.newTech-container{
  background-color: var(--very-dark-blue);
  color: white;
  border: 1px solid var(--very-dark-blue);
  margin-bottom: 2rem;
}

.content-box{
  margin: 0.75rem;
}

.content-box h1{
  color: var(--soft-orange);
  margin-bottom: 1.2rem;
}

.content-box .tech-articles{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* border: var(--border-green); */
}


.content-box article{
  margin-bottom: 2.5rem;
  border-bottom: 1px solid var(--dark-grayish-blue);
  padding-bottom: 2rem;
}

.content-box article:last-child{
  margin-bottom: 0.5rem;
  border-bottom: none;
  padding-bottom: 0.3rem;
}

.content-box article h3{
  margin-bottom: 10px;
  cursor: pointer;
}

.content-box article h3:hover{
  color: var(--soft-orange);
}

.content-box article p{
  color: var(--grayish-blue);
}


/* hardware review component */
/* --------------------------------- */

.hardware-articles{
  display: flex;
  margin-bottom: 2rem;
  gap: 0.6rem;
  max-height: 120px;
}

article img{
  height: 130px;
  aspect-ratio: 1/1;
}


article h2{
  color: var(--grayish-blue);
  margin: 0.2rem 0;
}


article h3{
  margin-bottom: 1rem;
  cursor: pointer;
}



article h3:hover{
  color: var(--soft-red);
}


article p{
  color: var(--dark-grayish-blue);
  font-size: 1rem;
}

.bigger-margin{
  margin-bottom: 50px;
}

/* pop up menu */
/* --------------------------------- */

nav{
  text-decoration: none;
  position: relative;
}

.menu{
  position: fixed;
  right: -5000px;
  top: 0;
  z-index: 1000;
  width: 60%;
  height: 100vh;
  background-color: white;
  border: 1px solid var(--off-white);
  padding: 20px;
  /* visibility: hidden; */
  transition: right 2s;
  /* transition: visibility 0.5s; */

}

.displayMenu{
  /* visibility: visible; */
  right: 0;
  transition: right 2s;
}

.menu img{
  /* border: var(--border-green); */
  float: right;
  cursor: pointer;
}


.menu ul{
  margin-top: 120px;
}

.menu ul li{
  list-style: none;
  margin: 20px 20px;
  font-weight: bold;
  cursor: pointer;
}

.menu ul li:hover{
  color: var(--soft-red);
}

/* attribution */

.attribution { 
  font-size: 11px; 
  text-align: center; 
  margin: 3rem 0;
}
.attribution a { 
  color: hsl(228, 45%, 44%); 
}

/* desktop design */
/* ------------------------------ */

@media (min-width: 780px) {

  .app-container{
    margin: 30px auto;
    max-width: 900px;
  }

  .grid-item{
    margin: 0;
  }

  .bigger-margin{
    margin-bottom: 0;
  }

  .grid-container{
    display: grid;
    grid-template-areas: 
    'img img newTech'
    'headline readMore newTech'
    'article1 article2 article3'
    ;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .web3-picture{
    grid-area: img;
  }

  .newTech-container{
    grid-area: newTech;
  }

  .bigger-fontSize{
    grid-area: headline;
    font-size: 3.8rem;
  }

  .read-more{
    grid-area: readMore;
  }

  .one{
    grid-area: article1;
  }

  .two{
    grid-area: article2;
  }
  .three{
    grid-area: article3;
  }

  article img{
    height: 180px;
  }

  /* navbar */
  /* ------------------------------------ */

  .menuIcon{
    display: none;
  }

  .menu img{
    display: none;
  }
  

  nav{
    text-decoration: none;
    position: relative;
  }

  header{
    display: flex;
    justify-content: space-between;
    /* border: var(--border-green); */
  }

  header img{
    width: 60px;
    height: 40px;
  }
  
  .menu{
    position: static;
    display: inline-block;
    /* position: fixed; */
    /* right: -5000px;
    top: 0; */
    z-index: 0;
    border: var(--border-blue);
    width: auto;
    height: auto;
    background-color: var(--off-white);
    border: 1px solid var(--off-white);
    padding: 20px;
    /* visibility: hidden; */
    transition: right 2s;
    /* transition: visibility 0.5s; */
  
  }
  
  .displayMenu{
    /* visibility: visible; */
    right: 0;
    transition: right 2s;
  }
  
  .menu img{
    /* border: var(--border-green); */
    float: right;
    cursor: pointer;
  }
  
  
  .menu ul{
    margin-top: 0px;
    display: flex;
    justify-content: space-around;
    color: var(--dark-grayish-blue);
    /* border: var(--border-red); */
  }
  
  .menu ul li{
    list-style: none;
    margin: 0rem 0.5rem;
    font-weight: bold;
    cursor: pointer;
  }
  

}