:root{
  font-size: 15px;

  
/* Primary colors */

--soft-orange: hsl(35, 77%, 62%);
--soft-red: hsl(5, 85%, 63%);

/* Neutral colors */

--off-white: hsl(36, 100%, 99%);
--grayish-blue: hsl(233, 8%, 79%);
--dark-grayish-blue: hsl(236, 13%, 42%);
--very-dark-blue: hsl(240, 100%, 5%)

/* borders */

--border-blue: 2px solid blue;
--border-red: 2px solid red;
--border-orange: 2px solid orange;
--border-green: 2px solid green;

}

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.app-container{
  padding: 20px;
  border: var(--border-green);
}

header{
  margin-bottom: 20px;
}


.menu{
  float: right;
}

.grid-item{
  margin-bottom: 10px;
}

.web3-mobile{
  width: 100%;
}

.bigger-fontSize{
  font-size: 50px;
}

.read-more p {
  /* line-spacing??? */
  margin-bottom: 30px;
}

.read-more a{
  background-color: var(--soft-red);
  color: var(--off-white);
  padding: 10px 20px;
  border-radius: 0px;
  cursor: pointer;
}